/*
IF66H - Programação Web 1 - 2019/1

Aluno: Felipe Seolin Bento 
RA: 1915959
*/

/*
Exercício 1 - Seletores 

Escreva um arquivo Sass que tenha como output o CSS abaixo. Use seletores e propriedades aninhadas.
*/

/*
Exercício 2 - Variáveis 
Crie variáveis para o arquivo do exercício anterior. 
- Variáveis para as cores;
- Variáveis para medidas;
*/
/* Colors */
$black-opacity: rgba(0, 0, 0, 0.3);
$white: #fff;
$white-darker: #fafafa;
$blue: #3897f0;

// Media sizes
$medium: 768px;

//Mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

/*
Exercício 4 - Operações e Interpolação 

No estilo do exercício anterior, mude todos os font-size do estilo de pixel para rem,
para isso faça uma operação para converção de pixel para rem e depois faça uma interpolação
da operação com a unidade rem. Lembre-se: 1rem=16pixels
*/
@function px2rem($value) {
    @return $value/16;
}


* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}

html {
    font-size: (px2rem(16))rem;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

body {
    background: $white-darker;
}

main {
    width: 90%;
    max-width: (px2rem(935))rem;
    margin: 0 auto;
}

header {
    display: flex;
    margin: (px2rem(30))rem 0;
    flex-flow: column;

    @include medium {
        flex-flow: row;
    }

    .avatar {
        @include border-radius(50%);
        margin: 0 auto;

        @include medium {
            margin: 0 (px2rem(40))rem;
        }
    }

    .desc {
        text-align: center;

        @include medium {
            text-align: left;
        }
    }
}

header {

    h1 {
        display: inline-block;
        margin: (px2rem(10))rem 0;
        font-size: (px2rem(28))rem;
    }

    h2 {
        @extend h1;
        font-size: (px2rem(24))rem;
    }

    .links {
        list-style: none;
        margin: (px2rem(10))rem 0;

        li {
            list-style: none;
            margin: 0 (px2rem(20))rem 0 0;
            display: inline-block;
        }
    }
}

.btn-default {
    padding: (px2rem(6))rem (px2rem(14))rem;
    
    border: {
        width: (px2rem(1))rem;
        style: solid;
        radius: 50%;
    }
}

.btn-follow {
    /* 
    Exercício 3 - @extend Crie um estilo para botões que contenha: Padding;
        Border width;
        Border style;
        Border radius. 
        Use @extend para herdar as propriedades deste estilo no .btn-follow.
    */
    @extend .btn-default;
    
    margin: 0 (px2rem(20))rem;
    
    border: {
        color: $blue;
    }

    color: $blue;
    @include border-radius((px2rem(4))rem);

    &:hover {
        background: $blue;
        color: $white;
    }
}

.photos {
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;

    li {
        width: 100%;
        margin: (px2rem(20))rem 0;
        position: relative;

        @include medium {
            width: 30%;
        }

        img {
            width: 100%;
        }

        .img-hover {
            @extend img;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: $black-opacity;
            transition: all 0.3s linear;
        }

        &:hover .img-hover {
            opacity: 1;
        }
    }
}